[user]
    email = {{ .git_email }}
    name = AJ Collins
[pull]
    rebase = true

[core]
    difftool = true

[merge]
    conflictstyle = diff3

[diff]
    tool = difftastic
    colorMoved = default
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[init]
    defaultBranch = main
