# If you come from bash you might have to change your $PATH.
export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$HOME/workspace/bin:$HOME/bin:/usr/local/go/bin:$PATH
export GOPATH=$HOME/workspace

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
export ZSH_TMUX_AUTOSTART="false"
export ZSH_TMUX_UNICODE="true"
{{- if (eq .chezmoi.arch "amd64") }}
export EDITOR="nvim"
{{ else }}
export EDITOR="vim"
{{ end -}}

export AWS_SKD_LOAD_CONFIG=1

# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME={{ .zsh_theme }}

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# see 'man strftime' for details.
HIST_STAMPS="yyyy-mm-dd"

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
    asdf
    docker
    docker-compose
    git
    tmux
    zsh-autosuggestions
    zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias agrep="alias | grep -i"
alias ap="ansible-playbook"
alias avd="ansible-vault decrypt"
alias ave="ansible-vault edit"
alias avv="ansible-vault view"
alias ch="chezmoi"
alias chx="chmod +x"
alias digs="dig +noall +answer"
alias fixmerge="git diff --name-only | uniq | xargs nvim"
alias gdh="git diff HEAD^"
alias gdm="git diff $(git_main_branch)"
alias open="xdg-open"
alias pbcopy="xclip -i -selection clipboard"
alias pbpaste='xclip -selection clipboard -o'
alias qrcode="qrencode -s 6 -l H -o /tmp/qrcode.png && eog /tmp/qrcode.png && rm /tmp/qrcode.png && clear"
alias sai="sudo apt install"
alias sau="sudo apt update"
alias sl="ls"
alias tf="terraform"
alias vim="nvim"
alias zsha="source ~/.zshrc"
alias zshu="vim ~/.zshrc"
{{- if (eq .chezmoi.arch "amd64") }}
alias vim="nvim"
{{ end }}

autoload bashcompinit && bashcompinit
autoload -Uz compinit && compinit
compinit
complete -C '/usr/bin/aws_completer' aws

fpath=(~/.zsh $fpath)
autoload -Uz compinit
compinit -u

# "less that"
lt() {
  cmd=$(fc -ln -1)
  cmdl="${cmd} | less"
  eval $cmdl
}

# For Loading the SSH key
# /usr/bin/keychain -q --nogui $HOME/.ssh/id_ed25519
# source $HOME/.keychain/$HOST-sh

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

