[user]
    email = {{ .git_email }}
    name = {{ .git_name }}
[pull]
    rebase = true
[push]
    autoSetupRemote = true

[core]
    difftool = true
    excludesFile = ~/.config/git/ignore

[merge]
    conflictstyle = diff3

[init]
    defaultBranch = main

[rerere]
	enabled = true

{{ if eq .chezmoi.os "darwin" }}
[url "git@git.2nd.io:"]
    insteadOf = https://git.2nd.io/
{{ end }}


