#!/bin/bash
set -x

{{ if not (eq .chezmoi.os "darwin") -}}
{{ if eq .chezmoi.osRelease.id "manjaro" -}}
sudo pacman -Syu
sudo pacman --noconfirm -S \
    aws-cli-v2 \
    bind-tools \
    fd \
    hexyl \
    nodejs \
    neovim \
    ripgrep \
    terraform \
{{ else if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
sudo apt-get update -y
sudo apt-get install -y \
    fd-find \
    gnome-tweaks \
    hexyl \
    silversearcher-ag \
{{ end -}}
    curl \
    direnv \
    git \
    git-delta \
    iperf \
    jq \
    keychain \
    nmap \
    tmux \
    unzip \
    zsh
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew install \
  hexyl \
  git-delta \
  sd
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
if [ ! -f "/usr/local/bin/nvim" ]; then
  brew install neovim
fi
{{ else if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
# Download nvim from https://github.com/neovim/neovim/releases, copy to /usr/local/bin/nvim, chmod +x
if [ ! -f "/usr/bin/nvim" ]; then
	sudo wget https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.deb -O /tmp/nvim.deb && \
		sudo apt install /tmp/nvim.deb
fi

# Install ripgrep
if ! [ -x "$(command -v rg)" ]; then
  curl -LO https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb
  sudo dpkg -i ripgrep_13.0.0_amd64.deb
  rm ripgrep_13.0.0_amd64.deb
fi

{{ end -}}

packpath="$HOME/.local/share/nvim/site/pack/packer/start/packer.nvim"
if [ ! -f "$packpath" ]; then
    git clone --depth 1 https://github.com/wbthomason/packer.nvim "$packpath"
fi

# clone oh-my-zsh
if [ ! -f "${HOME}/.oh-my-zsh" ]; then
    git clone https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh
fi

# zsh-autosuggestions
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions ]; then
	echo "${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions"
	git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
fi
# zsh-syntax-highlighting
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting ]; then
	git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
fi

# zsh-you-should-use
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/you-should-use ]; then
	git clone https://github.com/MichaelAquilina/zsh-you-should-use.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/you-should-use
fi

if [ ! -f "$HOME/bin/cht.sh" ]; then
  mkdir -p "$HOME/bin/"
  curl https://cht.sh/:cht.sh > "$HOME/bin/cht.sh"
  chmod +x "$HOME/bin/cht.sh"
fi

# fzf
if [ ! -f "$HOME/.fzf" ]; then
    git clone --depth 1 https://github.com/junegunn/fzf.git $HOME/.fzf
    $HOME/.fzf/install --all
fi

# tmux
if [ ! -d "$HOME/.tmux" ]; then
	git clone https://github.com/gpakosz/.tmux.git $HOME/.tmux
	ln -sf $HOME/.tmux/.tmux.conf ~/.tmux.conf
fi

