#!/bin/bash
{{ if not (eq .chezmoi.os "darwin") -}}
{{ if eq .chezmoi.osRelease.id "manjaro" -}}
sudo -n pacman -Syy
sudo -n pacman --noconfirm -S \
    aardvark-dns \
    aws-cli-v2 \
    bind-tools \
    cmake \
    delve \
    exa \
    fd \
    fuse-overlayfs \
    git-delta \
    go \
    hexyl \
    jless \
    nodejs \
    npm \
    neovim \
    podman \
    podman-compose \
    podman-dnsname \
    ripgrep \
    rustup \
    terraform \
{{ else if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
sudo -n apt-get update -y
sudo -n apt-get install -y \
    cmake \
    exa \
    fd-find \
    gnome-tweaks \
    hexyl \
    silversearcher-ag \
{{ end -}}
    curl \
    direnv \
    git \
    httpie \
    hugo \
    iperf \
    jq \
    keychain \
    nmap \
    tmux \
    unzip \
    xclip \
    yq \
    zsh
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew install -q\
  hexyl \
  git-delta \
  sd
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
if [ ! -f "/usr/local/bin/nvim" ]; then
  brew install -q neovim
fi
{{ else if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
# Download nvim from https://github.com/neovim/neovim/releases, copy to /usr/local/bin/nvim, chmod +x
if [ ! -f "/usr/bin/nvim" ]; then
	wget https://github.com/neovim/neovim/releases/latest/download/nvim.appimage -O /tmp/nvim.appimage && \
                chmod u+x /tmp/nvim.appimage && \
		sudo -n mv /tmp/nvim.appimage /usr/bin/nvim
fi

# Install ripgrep
if ! [ -x "$(command -v rg)" ]; then
  curl -LO https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb
  sudo -n dpkg -i ripgrep_13.0.0_amd64.deb
  rm ripgrep_13.0.0_amd64.deb
fi

{{ end -}}

# Neovim packer
packpath="$HOME/.local/share/nvim/site/pack/packer/start/packer.nvim"
if [ ! -d "$packpath" ]; then
    git clone --depth 1 https://github.com/wbthomason/packer.nvim "$packpath"
fi

# Astronvim
astronvim_path="$HOME/.config/astronvim"
if [ ! -d "$astronvim_path" ]; then
    git clone --depth 1 https://github.com/AstroNvim/AstroNvim $astronvim_path
fi

# clone oh-my-zsh
if [ ! -d "${HOME}/.oh-my-zsh" ]; then
    git clone https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh
fi


if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/themes/powerlevel10k ]; then
        git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k
fi

# zsh-autosuggestions
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions ]; then
	git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
fi
# zsh-syntax-highlighting
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting ]; then
	git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
fi

# zsh-you-should-use
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/you-should-use ]; then
	git clone https://github.com/MichaelAquilina/zsh-you-should-use.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/you-should-use
fi


# fzf-tab
if [ ! -d ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/fzf-tab ]; then
	git clone https://github.com/Aloxaf/fzf-tab ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/fzf-tab
fi

# fzf
if [ ! -d "$HOME/.fzf" ]; then
    git clone --depth 1 https://github.com/junegunn/fzf.git $HOME/.fzf
    $HOME/.fzf/install --all
fi

# tmux
if [ ! -d "$HOME/.tmux" ]; then
	git clone https://github.com/gpakosz/.tmux.git $HOME/.tmux
	ln -sf $HOME/.tmux/.tmux.conf ~/.tmux.conf
fi

