#!/bin/bash
set -x
{{ if not (eq .chezmoi.os "darwin") -}}
{{ if eq .chezmoi.osRelease.id "manjaro" -}}
sudo -n pamac install --no-confirm \
    aardvark-dns \
    aws-cli \
    bind-tools \
    cmake \
    delve \
    exa \
    fd \
    fuse-overlayfs \
    git-delta \
    go \
    hexyl \
    jless \
    make \
    nodejs \
    npm \
    neovim \
    podman \
    podman-compose \
    python-pipx \
    ripgrep \
    rustup \
    terraform \
{{ else if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
sudo -n apt-get update -y
sudo -n apt-get install -y \
    cmake \
    exa \
    fd-find \
    golang \
    gnome-tweaks \
    hexyl \
    nodejs \
    npm \
    python3.11-venv \
    silversearcher-ag \
{{ end -}}
    curl \
    direnv \
    git \
    httpie \
    hugo \
    iperf \
    jq \
    keychain \
    nmap \
    tmux \
    unzip \
    xclip \
    yq \
    zsh
{{ end -}}

{{ else if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
# Install ripgrep
if ! [ -x "$(command -v rg)" ]; then
  curl -LO https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb
  sudo -n dpkg -i ripgrep_13.0.0_amd64.deb
  rm ripgrep_13.0.0_amd64.deb
fi

{{ end -}}

# fzf
if [ ! -d "$HOME/.fzf" ]; then
    git clone --depth 1 https://github.com/junegunn/fzf.git $HOME/.fzf
    $HOME/.fzf/install --all
fi

# tmux
if [ ! -d "$HOME/.tmux" ]; then
	git clone https://github.com/gpakosz/.tmux.git $HOME/.tmux
	ln -sf $HOME/.tmux/.tmux.conf ~/.tmux.conf
fi

